
        /* Google fonts */
        @import url('https://fonts.gooogleapis.com/css2?family=Poppins');

        /*_*_*_*_*_*_* Global*_*_*_*_*_*_*_*/

        *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        a {
            text-decoration: none ;
        }
        ul{
            list-style: none;
        }
        .active{
            color: #f31010;
            text-decoration: underline;
            font-weight: bold;
        }
      
        .body, html{
            overflow-x: hidden;
            background-image: url(./Images/vector.jpg);
        }
        /*_*_*_*_* Navbar *_*_*_*_*/
        .navbar{
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            width: 100%;
            justify-content:space-between ;
            padding: 20px;
            color: whitesmoke;
        }
        .nav-links{
            display: flex;
            align-items: center;
        }

        .nav-links li{
            margin:0 30px;
        }

        header{
          width: 100vw;
          height: 100vh;
          background-image: url(./Images/Intro.jpg);
          background-position: bottom ;
          background-size: cover;
          display: flex;
          align-items: flex-end;
          justify-content: center;
        }

        .header-content{
            margin-bottom: 260px;
            color: whitesmoke;
            text-align:center ;
        }

        .header-content h2{
            font-size: 4vmin;
        }

        .line{
            width:150px;
            height: 4px;
            background: #fc036b;
            margin:10px auto;
            border-radius: 5px;

        }

        .header-content h1 {
            font-size: 7vmin;
            margin-top: 50px;
            margin-bottom: 30px;
            transition: transform .5s ease;
            color: rgb(230, 230, 22);
         
        }
        .header-content h1:hover{
            transform: scale(.9.9);
            text-shadow:  2px 2px 3px rgba(87, 3, 114, 0.768);
            text-shadow:
            0 0 7px #6888df,
            0 0 10px #446cbe,
            0 0 21px #1103a6,
            0 0 42px rgb(0, 40, 86),
            0 0 82px rgb(39, 45, 235),
            0 0 92px rgb(52, 40, 165),
            0 0 102px rgb(52, 25, 255),
            0 0 151px #0fa;
        }

        .ctn{
           padding: 8px 15px;
           background: #fc036b;
           border-radius: 30px;
           color: whitesmoke;
        }
        .menu-button{
            position: absolute;
            top: 30px;
            right: 30px;
            width: 70px;
            cursor: pointer;
            display: none;
            border-radius: 10%;
        }
        /*_*_*_*_*_ Events *_*_*_*_*/

        section {
            width: 80%;
            height: 100%;
            margin: 80px auto;
        }
        
        .title {
            text-align: center;
            font-size: 4vmin;
            color: #ffffff;
        }
        .row {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }
        .row .col {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .events .row {
            margin-top: 50px;
        }
        h4 {
            font-size: 3vmin;
            color: rgb(255, 255, 255);
            font-weight: 650;
            text-shadow: 5px 5px 10px  #fc0303;
            margin: 20px auto;
        }
        p {
            color: #fcfcfc;
            padding: 0px 40px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 500;
            text-align: center;
            justify-content: center;
        }
        .events .ctn {
            margin-top: 30px;
        }
        .col img {
            width: 250px;
            height: 250px;
        }

        .explore {
            width: 100%;
            height: 100vh;
            background-image: url('/Images/AI\ WORLD.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
        }
 .explore-content{
    width: 60%;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
 }

 .explore-content h1 {
    font-size: 7vmin;
    color: rgb(243, 62, 2);
    text-shadow: 5px 5px 8px  rgb(12, 4, 251);
    margin-left: -50px;
    margin-top: 10px;
 }

 .explore-content .line{
    margin-bottom: 50px;
    background: rgb(23, 3, 237);
    box-shadow: 3px 6px 10px  rgb(251, 82, 4);
     }

 .explore-content p{
    color: rgb(247, 247, 249);
    align-items: end;
    padding-top: 20px;
    text-align: justify;
    padding-right: 450px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight:lighter;
    font-size: 18px ;
    
 }

 .explore-content .ctn1{
    margin-top: 40px;
    background: orangered;
    padding: 8px 15px;
    border-radius: 30px;
    color: whitesmoke;
 }
.content-col{
    width: 60%;
    background: #92c988;
    border: #3f4f76;
    border-style:inset;
    border-width:thick;
    border-radius:7vmin;
}
.image-col{
    width: 60%;
    margin-left: 10px;
}


 .tours .image-galary{
display: flex;
flex-wrap:wrap ;
width: 100%;
align-items: center;
}
.image-galary img{
    width: 250px;
    max-width: 300px;
    margin: 10px;
}
.content-col h1{
 font-size: 5vmin;
 font-family: Georgia, serif;
 color: rgba(6, 101, 3, 0.907);
 margin: 40px 40px 0px 40px;
}

.content-col .line{
margin-left: 40px;

}
.content-col p{
    padding: 10;
    margin: 30px auto;
    font-weight: bold;
    font-size: 18px ;
}
.content-col .ctn{
    margin: 20px;
    
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #e43c82;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px auto;
    padding: 20px auto;
}
        /*_*_*_*_* Mobile Device *_*_*_*_*/
        @media only screen and (max-width:850px){
            .menu-button{
                display: block ;
            }
            .navbar{
                padding: 0;
            }
            .logo{
                position: absolute;
                top: 30px;
                left: 30px;
            }
            .nav-links{
                flex-direction: column;
                width: 100%;
                height: 100vh;
                justify-content: center;
                background: #e43c82;
                margin-top: -900px ;
                transition: all 0.5s ease ;
            }
            .mobile-menu{
                margin-top: 0px;
                border-bottom-right-radius: 30%;

            }
            .nav-links li{
                margin: 30px auto;
            }
        }

      

 /*_*_*_*_* Animations *_*_*_*_*/

 img {
    transition: transform .3s ease;
 }
 img:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(64, 46, 40, 0.181);
}
 .ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px rgba(64, 46, 40, 0.181);
 }
 .ctn1:hover {
    background: whitesmoke;
    color: orangered;
    box-shadow: 2px 2px 5px rgba(64, 46, 40, 0.181);
 }
li:hover{
    color: #ff0b0b;
    cursor: 0;
}