*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 40px;
}
.name{
   font-family:'digital-clock-font';
   color: #fff;
   font-weight: lighter;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 18px 0;
    background: #ded6d68f;
    box-shadow: inset -5px -5px 8px #dad0d0,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border-radius: 15px;
}
form .display input{
    text-align:right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
    border-radius: 50px;
}
form input.operator{
    color: rgb(212, 191, 5) ;
}